/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.12.2017, 15:07:29
    Author     : oleksandr
*/

*{
    padding: 0;
    margin: 0;
}

body{
    background: lightgrey !important;
}

#header{
    //height: 40px;
    background: #4b577b;
    color: white;
    padding: 5px 20px;
}

#folders{
    width: 300px;
    background: lightgray;
    float: left;
    min-height: 900px;
}

#folders h3{
   padding: 5px 0px 5px 20px;
   border-bottom: 0.5px solid grey; 
}

#folder_list, #photo_list{
    height: 500px;
    overflow: scroll;
    padding: 10px 0px 5px 10px;
}

#folder_list table{
    width: 100%;
}

.col2{
    width: 90px;
}

.col3{
    width: 15px;
}

button{
    width: 20px;  
}

button.remove{
    width: 15px;
    cursor: pointer;
}

#photos h3{
    padding: 5px 0px 5px 320px;
    border-bottom: 0.5px solid grey; 
}

.widjet{
    //width: 150px;
    //height: 170px;
    float:left;
    padding: 10px;
    margin: 5px;
    border: 1px solid grey; 
}

.widjet:hover{
    border: 1px solid blue; 
}

#photo{
    padding: 10px, 10px, 10px, 220px;
}

#photo_list, #cur_photo{
    background: black;
    color:white;
}

#cur_photo{
    width: 100%;
    min-height: 500px;    
}

#cur_photo img{
    //width: 100%;
    position: absolute;
}

.widjet img{
    height: 140px;
    margin-bottom: 10px;
    cursor: pointer;
}

tr:hover{
    background: graytext;
}

#folder_oper{
    padding: 10px;  
}

#folder_name{
    width: 100%;
}

#file_name{
    width: 250px;
}

#cur_photo{
    display: none;   
}

#file_oper{
    padding: 10px;  
}
